@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-8xl: 27px;
  --font-size-13xl: 32px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-darkorange: #fb7306;

  /* Border radiuses */
  --br-13xl: 32px;
}
